.container{
    display: grid;
    /* grid-template-columns: 60% 30% 10%;
    grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: 1fr 2fr 0.1fr ; */
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px 100px;
    grid-row-gap: 15px;
    /* grid-gap: 15px; */

    grid-gap: 15px;
   

    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 200px 100px;



    text-align: center;
}

.box1{
    background-color: brown;
    grid-column: 1/4;
    /* grid-row: 1/4; */
    /* height: 500px;
    width: 500px;
   */
}

.box2{
    background-color: blue;
}

.box3{
    background-color: red;
}

.box4{
    background-color: green ;
}

.box5{
    background-color: orangered;
    grid-column: 1/4;
   
}
/* .box6{
    background-color: yellow;
}
.box7{
    background-color: violet;
}
.box8{
    background-color: purple;
}
.box9{
    background-color: gray;
} */

